<html>
<head>
   <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
   <link href="../static/css/starter-template.css" rel="stylesheet">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
   <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
   <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
   <style>
      body {
        background-color: #000;
      }
      #custom-handle {
        width: 3em;
        height: 1.6em;
        top: 50%;
        margin-top: -.8em;
        text-align: center;
        line-height: 1.6em;
      }
  </style>
<script>
  var month=0;
  var old_month=0;
  var months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
  $( function() {
    var handle = $( "#custom-handle" );
    $( "#slider-range-min" ).slider({
      range:"min",
      value:0,
      min: 0,
      max: 11,
      create: function() {
        handle.text("Jan");
      },
      slide: function( event, ui ) {
        handle.text( months[ui.value]);
        $( "#amount" ).val( "$" + ui.value );
           console.log("yippies");
           old_month = month;
           month = parseInt(ui.value);
           toggle();
      }

    });
    $( "#amount" ).val( "$" + $( "#slider-range-min" ).slider( "value" ) );
  } );
</script>
<style>
</style>
</head>
<body style="background-color:#d3d3d3">
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Go Fly a Kite</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="email">Home</a></li>
            <li ><a href="index">Map</a></li>
            <li ><a href="realtime">Data</a></li>
            <li class="active"><a href="#">Regions</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="slider-range-min" style="margin-top: 30px; margin-bottom:20px; width:80%; margin-left:10%">
      <div id="custom-handle" class="ui-slider-handle"></div>
    </div>
   <div data-tap-disable="true">
    <div id="mapid" style="width: 100%; height: 100%;"></div>
  </div>
   <script>
      var mymap = L.map('mapid').setView([40.854290, -113.995877], 4);
      L.tileLayer('https://api.mapbox.com/styles/v1/moriahc/ciypghxzj000m2rptn1avcsq6/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibW9yaWFoYyIsImEiOiJjaXlwZ2Q2b3gwMDNvMnFwZ3lvcHVkM244In0.Cc3-I1gUP2xtPDhQ-ecXKQ', {
         attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'
      }).addTo(mymap);
      var polyz = {{data|tojson}}
      var layers = []
      function set_all(polz){
        for(var i=0;i<12;i++){
          layer = []
          for (var j=0; j<polyz.length; j++){
            if(polyz[j]["seasons"][i]>0.75){
            c = L.circle([polyz[j]["shape"][0], polyz[j]["shape"][1]], {
                  color: '#009900',
                  fillColor: '#009900',
                  fillOpacity: 0.5,
                  radius: 200000
                });
            }
            else if(polyz[j]["seasons"][i]>0.60){
              c = L.circle([polyz[j]["shape"][0], polyz[j]["shape"][1]], {
                    color: '#66ff33',
                    fillColor: '#66ff33',
                    fillOpacity: 0.5,
                    radius: 200000
                  });
            }
            else if(polyz[j]["seasons"][i]>0.50){
              c = L.circle([polyz[j]["shape"][0], polyz[j]["shape"][1]], {
                    color: '#99ff33',
                    fillColor: '#99ff33',
                    fillOpacity: 0.5,
                    radius: 200000
                  });
            }
            else if(polyz[j]["seasons"][i]>0.40){
              c = L.circle([polyz[j]["shape"][0], polyz[j]["shape"][1]], {
                    color: '#ccff33',
                    fillColor: '#ccff33',
                    fillOpacity: 0.5,
                    radius: 200000
                  });
            }
            else if(polyz[j]["seasons"][i]>0.30){
              c = L.circle([polyz[j]["shape"][0], polyz[j]["shape"][1]], {
                    color: '#ffcc00',
                    fillColor: '#ffcc00',
                    fillOpacity: 0.5,
                    radius: 200000
                  });
            }
            else if(polyz[j]["seasons"][i]>0.20){
              c = L.circle([polyz[j]["shape"][0], polyz[j]["shape"][1]], {
                    color: '#ff9933',
                    fillColor: '#ff9933',
                    fillOpacity: 0.5,
                    radius: 200000
                  });
            }
            else if(polyz[j]["seasons"][i]>0.05){
              c = L.circle([polyz[j]["shape"][0], polyz[j]["shape"][1]], {
                    color: '#ff6600',
                    fillColor: '#ff6600',
                    fillOpacity: 0.5,
                    radius: 200000
                  });
            }
            else{
              c = L.circle([polyz[j]["shape"][0], polyz[j]["shape"][1]], {
                    color: '#ff0000',
                    fillColor: '#ff0000',
                    fillOpacity: 0.5,
                    radius: 200000
                  });
            }
          layer.push(c);
          }
          layers.push(L.layerGroup(layer));
        }
      }
      set_all();
      layers[month].addTo(mymap);

      function toggle(){
        mymap.removeLayer(layers[old_month]);

        layers[month].addTo(mymap);
      }
   </script>
   <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
</body>
</html>
